<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>context</title>
</head>
<body>
    <h1>Hello, {{ person.firstname }} {{ person.lastname }}</h1>

    <p>Thanks for placing your order <b>{{order_number}}</b> 
    on <b>{{current_date}}</b>.</p>
    <h2>Your Order Items :</h2>
    
    {% for key, value in item_list.items %}
    <p>{{ forloop.counter }}. {{ key }} : {{ value }}</p>
    {% endfor %} 
</body>
</html>